/* Applies a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* Font Classes */  
.all_other_fonts {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.heading_font {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

/* Header Styling */
.header {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    border-bottom: solid #cccccc 2px;
}

/* Colored section with my name (top-left) - In the Header */
.my_name {
    background-color: #4aaaa5;
    font-size: xx-large;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 35px;
    padding-left: 35px;
}

/* Navigation bar (top-right) styling - In the Header */
a.nav_list {
    text-decoration: none;
    font-size: 20px;
}

.nav_list {
    display: flex;
    justify-content: space-around;
    padding: 12px;
}   

.nav_list li {
    border-right: 1px solid lightgrey;
    list-style-type:none;
}

.nav_list li:last-child {
    border-right: none;
}

/* The main part of the page that contains the 'About Me' and 'Connect with Me' */
.main_section {
    display: flex;
    justify-content: center;
    /*padding: 40px;*/
}

/* The 'About Me' box - In the Main Section */
.about_me {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 650px;
    border: 1px solid lightgrey;
    padding: 20px;
    margin-top: 45px;
    margin-right: 22.5px;
}

.about_me_top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: x-large;
    color: #4aaaa5;
    border-bottom: solid #cccccc 2px;
}

.about_me_bottom {
}

/* The 'Connect with Me' box on the right - In the Main Section */
.connect_with_me {
    width: 270px;
    height: 10%;
    background-color: #ffffff;
    border: 1px solid lightgrey;
    margin-top: 45px;
    margin-left: 22.5px;
}

.connect_top {
    color: #4aaaa5;
    border-bottom: solid #cccccc 2px;
}

.connect_bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

/* The background image - The wrapper for the ENTIRE page */
.body {
    background-image: url("./../images/memphis-colorful.png");
}